@import "_const.css";

.bar {
  position: absolute;
  bottom: 22px;
  text-align: center;
  width: 100%;
}

.btn {
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  color: $c-font;

  &:hover {
    color: #B1B1B1;
  }
}
