@import "_const.css";

.pane {
  height: 50%;
  position: relative;
  color: white;
}

.i { background: linear-gradient(#0959DD, #2879FF); }
.o { background: linear-gradient(#255FCF, #0E439D); }

.l {
  float: left;
  width: 50%;
}
.r {
  float: right;
  width: 50%;
}
.clear { clear: both; }

.currency {
  font-size: 35px;
}
